<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>PasswordBox</title>
	<link href="../css/bootstrap.min.css" rel="stylesheet"/>
	<link rel="stylesheet" href="../css/font-awesome.min.css"/>
</head>
<body>
	<div class="container">
		<div class="row">
		 	<div class="col-md-7">
				<ul class="nav nav-pills">
					<li role="presentation" class="active"><a href="default.html">首页</a></li>
					<li role="presentation"><a href=".html">添加密码</a></li>
					<li role="presentation"><a href="#">查看密码</a></li>
				</ul>
			</div> 
				
			<form class="form-inline">
				<div class="input-group col-md-4">
					<div class="input-group-addon"><i class="fa fa-search-plus"></i></div>
					<input type="text" class="form-control" placeholder="检索"/>
				</div>
				<button type="button" class="btn btn-info" id="search-button">检索</button>
			</form>
		</div>
	</div>
	
</body>
</html>